
/* .container */ /* body {  
  display: grid;  
  grid-template-columns: 100px 100px 100px;   
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
  grid-template-rows: 50px 50px;  
  display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 100px); 
} */

#container {
  position: relative;
  /* Estilos do container */
}

#hr4 {
  border: 3;
  border-top: 2px dashed #CCC;
  border-bottom: 10px solid #CCC;
  height: 3px;
  }

#cnt{
   text-align: center; 
   color: #ffffff;
  
position: absolute;
width: 1295px;
height: 59px;


background: linear-gradient(180deg, #00A84A 81.77%, #2C5942 100%);
border-radius: 20px;
}

#cnt2{
  position: absolute;
  width: 1295px;
  height: 68px;
  
  
  background: #D47402;
  border-radius: 20px;

  /* display: grid;  
  grid-template-columns: 100px 100px 100px;  
  grid-template-rows: 50px 50px;   */
}
#lado1{
  display: inline-block;
  font-size: 0;
}
#lado2{
  display: inline-block;
  font-size: 0;
}
#cnt3{
  text-align: center; 
}

#linha{
  width: 900px;
  height: 350px;
}

#cnt5{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.main-menu {
  width: 100%;
  border-bottom: 5px solid #00bd19;
  box-shadow: 0px 5px 25px 0px rgb( 0 0 0 / 50%);
  overflow: visible !important;
  background: url(img/base-ondas.svg) no-repeat -50px bottom !important;
  height: 135px;
  background-size: 700px;
  /* justify-content: space-between; */

/*   display: grid;  
  grid-template-columns: 100px 100px 100px;  
  grid-template-rows: 50px 50px;  */
}


.bar {
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, #204D37 0%, #00853B 40%);
}

.col-0 img {
  margin-top: 5px;
  margin-left: 20px;
  height: 50px;
}

.btn-group {
  margin-top: 20px;
  left: 35%;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #00853B;
}

#rodape {
  left: 0;
  bottom: 0;
  overflow: visible !important;
  height: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#rp2 {
  height: 40px;
  justify-content: center;
  text-align: center;
  margin-left: 44%;
}

#btn-topo {
  color: #fff;
  background-color: #00853B;
}

#traco {
  width: 5px;
  height: 32px;
  background-color: #00853B;
  border: #D47402 2px;
}

#txt {
  padding-left: 5px;
}

.traco2 {
  display: flex;
}

#traco1 {
  width: 5px;
  height: 25px;
  background-color: #D47402;
  border: #00853B;
}

#txt2 {
  padding-left: 5px;
}

.traco3 {
  display: flex;
}

#bt8{

  margin-top: 90%;
  left: 1500px;

}
/* 
.cabeca {
  background-color: #ddc635;
  width: 400px;
  height: 200px;
  border-left: 15px;
}

.mbtt {
  right: 0px;
} */

.dropdown-item:hover {
  color: #fff;
  background-color: #00853B;
}